.selected {
  background-color: #CFD8DC !important;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 1em;
  width: 15em;
}

.heroes .text {
  position: relative;
}

md-grid-tile {
  background: lightblue;

}

h2 {
  text-align: center;
}