<div class="container">

    <form class="form-signin" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="username" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
        <p>{{message}}</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <form class="form-signin">
        <button value="Register" class="btn btn-lg btn-success btn-block" (click)="goToRegister()">New User?</button>
    </form>
    <form class="form-signin">
        <a href="auth/facebook?id=" class="btn btn-lg btn-block btn-social btn-facebook" >
            <span class="fa fa-facebook"></span>
            Continue with Facebook
        </a>
    </form>


</div>