<div class="container">
    <form class="my-form" name="usernameForm" #usernameForm="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="my-form-heading">{{ title }}</h2>
        <label for="username" class="control-label">Username</label>
        <input type="text" id="username" name="username" pattern="^[a-zA-Z]+(?:[_-]?[a-zA-Z0-9])*$" minlength="4" maxlength="32"
            #username="ngModel" class="form-control" [(ngModel)]="user.username" placeholder="Username" required autofocus>
        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
            <div [hidden]="!username.errors.required">
                Username is required!
            </div>
            <div [hidden]="!username.errors.pattern">
                A Username can
                <span></span>
                <ul>
                    <li>Contain only A-Z a-z 0-9 _ -</li>
                    <li>Have No Spaces</li>
                    <li>Begin only with A-Z a-z</li>
                </ul>
            </div>
            <div [hidden]="!username.errors.minlength">
                Username should be of atleast 4 characters in length!
            </div>
            <div [hidden]="!username.errors.maxlength">
                Username should be a maximum of 32 characters in length!
            </div>
        </div>
        <div *ngIf="!forgotpass && !success" class="alert alert-danger">{{message}}</div>
        <div *ngIf="forgotpass && !success" class="alert alert-danger">
            If your Username is present in our System, we'll send an Email to your registered Email address with instructions on resetting
            your password.
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="!usernameForm.form.valid">Update</button>
    </form>
</div>