<div class="container">

    <form class="my-form" name="passwordResetForm" #passwordResetForm="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="my-form-heading">Please Enter New Password</h2>
        <label for="pin" class="control-label">One Time PIN</label>
        <input type="text" id="pin" name="pin" minlength="5" maxlength="5" pattern="^[0-9]+$" #pin="ngModel" class="form-control" [(ngModel)]="model.pin"
            placeholder="OTP" required>
        <div *ngIf="pin.errors && (pin.dirty || pin.touched)" class="alert alert-danger">
            <div [hidden]="!pin.errors.required">
                PIN is required!
            </div>
            <div [hidden]="!pin.errors.minlength">
                PIN should be of 5 digits!
            </div>
            <div [hidden]="!pin.errors.pattern">
                PIN contains only digits!
            </div>
        </div>
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="64" #password="ngModel" class="form-control"
            [(ngModel)]="model.password" placeholder="Password" required>
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
            <div [hidden]="!password.errors.required">
                Password is required!
            </div>
            <div [hidden]="!password.errors.minlength">
                Password should be of atleast 8 characters in length!
            </div>
            <div [hidden]="!password.errors.maxlength">
                Password should be a maximum of 64 characters in length!
            </div>
        </div>
        <div *ngIf="!success" class="alert alert-danger">
            {{message}}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!passwordResetForm.form.valid ">Reset</button>
    </form>
</div>